/*header*/
header {
    background-color: #78b43d;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
}
.container {
    max-width: 1004px;
    margin:0 auto;
}
a{
    text-decoration: none;
}
/* Nav */
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding-right: 0.5rem;
}
/* submenu */
.submenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    flex-grow: 1;
}
.submenu a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.submenu i{
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
.submenu img{
    margin-bottom: 0.3rem;
}

.search {
    border-left: #90c54a solid 1px;
    border-right: #90c54a solid 1px;
    margin: -1rem 0.5rem;
    padding: 0.8rem 0.7rem;
    font-size: 1.5rem;
}
/* category */
.category {
    border-left: #90c54a solid 1px;
    border-right: #90c54a solid 1px;
    margin: -1rem 0.5rem;
    padding: 0.5rem 0.5rem;
}

/* hover submenu */
.submenu ul{
    display: none;
    position: absolute;
}
/* hover category*/
.header-inner li:hover, a:hover, form:hover {
    background: none;
}
.submenu li{
    position: relative;

}
/* subcategoty */
.subcategory {
    background-color: #aad862;
    width: 10rem;
}
.subcategory li{
    display: flex;
    align-items: center;
    height: 1.8rem;
    border-bottom: #78b43d solid 1px;
}
.subcategory a{
    color: black;
}
.subcategory i{
    margin-top: 5px;
    padding: 0px 5px;
    font-size: 10px;
}
.hoi-dap {
    background-color: #78b43d;
}
/* sub-bongda */
.bongda {
    background-color: #aad862;
    width: 10rem;
}
.bongda li{
    display: flex;
    align-items: center;
    height: 1.8rem;
    border-bottom: #78b43d solid 1px;
    color: black;
}
.bongda i{
    margin-top: 5px;
    padding: 0px 5px;
    font-size: 10px;
    color: #fff;
}
.submenu li:hover .bongda{
    display: block;
    top: 2.58rem;
    right: -6.2rem;
}

.submenu li:hover .subcategory{
    display: block;
    top: 45px;
    right: 0rem;
}
.submenu li:hover {
    background-color: #78b43d;
}
/* hover */
.subcategory li:hover ul{
    display: block;
    top: 1px;
    left: 10rem;
    width: 157px;
}
.talkshow{
    color: #fff !important;
}

/* css-subcategory */
.subcategory ul li{
    border-bottom:1px solid #aad862;
    padding-left: 20px;
    align-items: center;
    background-color: #78b43d;
    color: black;
}
.subcategory ul li:hover{
    color: #fff;
}
/* ss1 */
.title-header {
    display: flex;
}
.title-header a{
    padding: 2px 3px;
}

.content-ss1{
    display: flex;  
}
.ss1 img{
    padding: 0px 10px 10px 0px;
}
.ul1 {
    background-color: #eaf8d2;
}
.ul2 {
    background-color: #d5ecab;
}

.title-header li {
    background-color: #BDBDBD;
    margin: 3px 1px;
    border-radius: 4px;
    font-size: 0.9rem;
}
.hd-tttn {
    background-color: #78b43d !important;
}
.title-ss1{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.ul1-1{
    height: 3.6rem;
    overflow:scroll;
    background-color: #eaf8d2;
}
/* css body */
.body-full {
    display: flex;
}
.body-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}
.body-main section {
    margin: 10px 4px 0px 0px;
    font-size: 0.9rem;
    width: calc(50% - 5px);
}
.widget {
    width: 30%;
}