header {
    background-color: #78b43d;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.container {
    width: 1004px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    text-transform: uppercase;
}
.logo {
    max-width: 10rem;
}
.submenu {
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}
.submenu li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    padding: 0 0.2rem;
}
.submenu li img, .submenu li i{
    display: block;
    margin-bottom: 0.8rem;
}
.submenu li img{
    width: 1rem;
}
.submenu li i{
    font-size: 0.9rem;
}
.category {
    border-left:1px solid #90c54a ;
    border-right:1px solid #90c54a ;
    margin: -1rem 0rem;
    padding: 0.6rem 1rem;
    font-size: 3rem;
}
.search {
    border-left:1px solid #90c54a ;
    border-right:1px solid #90c54a ;
    margin: -1rem 0rem;
    padding: 0.9rem 1rem;
    font-size: 2rem;
}
.submenu li:hover{
    background: none;
}
.submenu li:hover ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.subcategory{
    position: absolute;
    display: none;
    background: #90c54a;
    padding: 0;
}
.subcategory li{
    background: #90c54a;
    font-size: 10px;
    left: 0;
}
.subcategory li a{
    color: black;
}
.subcategory li:hover{
    background-color: #78b43d;
}
